#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  font-size: 17px;
}

p {
  font-size: 22px;
}
body {
  font-family: arial;
}
a {
  text-decoration: none;
  color: #5444f6;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid #5444f6;
}
.main-title {
  margin:0;
  text-shadow: 2px 2px 2px #cec8c8;
  color: #5058ea;
}
.main-title a {
  border: none;
}
#container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 46px;
}

#container > header > h1 {
  margin: 0;
}

.navigation-links li {
  display: inline-block;
  margin: 0 16px;
}

.item-cards {
  display: flex;
  justify-content: space-between;
  padding:10px 5px;
  border-bottom: 1px solid #bfbaba;
}

.tools-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  align-items: center;
}

.error_explanation {
  border: 1px solid red;
  color: rgb(243, 74, 74);
  background-color: antiquewhite;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.message_explanation {
  border: 1px solid #00d2ff;
  color: rgb(16, 78, 171);
  background-color: #eafff8;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.input {
  margin-bottom: 10px;
}

.text {
  display: block
}

.title-ollcards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 15px;
  color: rgb(130, 130, 135);
}